{% extends 'base.html' %}

{% block content %}

<div class="auth">
    <div class="logo">D</div><h1>Welcome Back 👋</h1>
<p>Login to DEROMEN SMM PANEL</p>

<form method="post">

    <label>Username or Email</label>
    <input
        name="identity"
        required
        placeholder="Enter username or email"
    >

    <label>Password</label>
    <input
        name="password"
        type="password"
        required
        placeholder="Enter password"
    >

    <div class="row">
        <label>
            <input type="checkbox">
            Remember Me
        </label>

        <a href="#">Forgot Password?</a>
    </div>

    <button type="submit">LOGIN</button>

</form>

<p>
    Don't have an account?
    <a href="/register">Create Account</a>
</p>

</div>{% endblock %}
